
header{
    background-color: rgb(61, 58, 58);
    color: white;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    
    text-align: center;
}

#headerID{
    margin: 0;

}

section{
    margin: 0;
    

}

#forecastTitle{
    margin: 3%
}

 .dayForecast{
     width: 18%;
     margin: 1%;
     /* background-color: #007bff; */
 }

 #mainDashboard{
     margin-top: 2%;
     line-height: 1cm;
 }


 .uvred{
    background-color: red;
    padding: 1%;
}

.uvyellow{
    background-color: yellow;
    padding: 1%;
}

.uvgreen{
    background-color: yellow;
    padding: 1%;
}